#home-page {
    width: 100%;
    height: 100%;
}

.image-holder {
    height: 100%;

    overflow: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-video {
    overflow-x: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.black-background {
    flex-direction: column;
    position: fixed;
    background: linear-gradient(rgba(0,0,0,.8), rgba(24,24,24,.8));

    width: 100%;
    height: 100%;
}

#home-title {
    color: white;
    font-size: 70px;
}

.home-descriptor {
    color: white;
    font-size: 20px;
}

#down-arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;

    position: absolute;
    bottom: 0;
    margin-bottom: 2%;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

    cursor: pointer;
}

.info-pane {
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 1;
}

#chron-info {
    background: linear-gradient(rgba(24,24,24,1), rgba(64,64,64,1));
    display: flex;
    flex-direction: column;
    align-items: center;
}

#what-is-chron-info {
    color: white;
    font-size: 18px;

    width: 80%;
    text-align: center;

    margin-top: 5%;
}

#chron-feat {
    background: linear-gradient(rgba(64,64,64,1), rgba(96,96,96,1));
}

#game-bar {
    width: 90%;
    height: 50%;

    margin-top: 4%;
}

.game {
    height: 100%;
    width: 30%;

    position: relative;
    
    float: left;
    margin-right: 5%;

    box-sizing: border-box;
    border: 1px solid white;
}

.game > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}

.game > figure:nth-child(1) { background-image: url('../assets/apple.png'); }

.game > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('../assets/banana.jpg');
}

.game > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url('../assets/carrot.jpg');
}

@keyframes
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 1;
}
 17% {
 opacity: 1
}
 25% {
 opacity: 0
}
 100% {
 opacity: 0
}
}
