#home-page {
    width: 100%;
    height: 100%;
}

.image-holder {
    height: 100%;

    overflow: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-video {
    overflow-x: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.black-background {
    flex-direction: column;
    position: fixed;
    background: linear-gradient(rgba(0,0,0,.8), rgba(24,24,24,.8));

    width: 100%;
    height: 100%;
}

#home-title {
    color: white;
    font-size: 70px;
}

.home-descriptor {
    color: white;
    font-size: 20px;
}

.down-arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;

    position: absolute;
    bottom: 0;
    margin-bottom: 2%;
    z-index: 1;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

    cursor: pointer;
}

.info-pane {
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 1;
}

#chron-info {
    background: linear-gradient(rgba(24,24,24,1), rgba(64,64,64,1));
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chron-info-holder {
    width: 100%;
    height: 20%;

    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));

    flex-direction: column;
}

.what-is-chron-info {
    color: white;
    font-size: 18px;

    width: 80%;
    text-align: center;
}

#chron-feat {
    background: linear-gradient(rgba(64,64,64,1), rgba(96,96,96,1));
    flex-direction: column;
}

#game-bar {
    width: 100%;
    height: 37.5%;
}

.game {
    height: 100%;
    width: 20%;

    position: relative;
    float: left;

    box-sizing: border-box;
    border: 12px solid rgba(0,0,0,0);
}

.slideshow > figure {
  animation: imageAnimation 6s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;

  display: none;
}

.game-title:hover {
    /* background: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 1)); */
}

.slideshow > figure:nth-child(1) {
    background: url('../assets/apple.png');
}

.slideshow > figure:nth-child(2) {
  animation-delay: 2s;
  background: url('../assets/banana.jpg');
}

.slideshow > figure:nth-child(3) {
  animation-delay: 4s;
  background: url('../assets/carrot.jpg');
}

.game-title {
    position: absolute;

    width: 100%;
    height: 100%;

    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));

    cursor: pointer;
}

.game-title-text {
    width: 100%;
    height: 100%;

    font-size: 18px;
    color: white;

    text-align: center;
}

.game-description {
    color: white;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    display: none;
}

@keyframes
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 1;
}
 17% {
 opacity: 1
}
 25% {
 opacity: 0
}
 100% {
 opacity: 0
}
}

.chron-home-desc {
    width: 100%;
    height: 10%;

    margin-top: 4%;

    font-size: 18px;
    color: white;
}

#chron-uses-holder {
    width: 85%;
    height: 55%;

    margin-top: 2%;
}

.chron-uses {
    width: 45%;
    height: 100%;

    flex-direction: column;

    float: left;
}

.chron-uses-title {
    width: 80%;
    height: 15%;

    border-bottom: 1px solid white;

    color: white;
    font-size: 20px;
}

.chron-use-single {
    color: white;
    font-size: 16px;
    margin-top: 2%;
}

.login-signup {
    width: 15%;
    height: 8%;

    font-size: 16px;
    border-radius: 25px;

    color: black;
    background-color: white;
}
